<div class="card">
    <span class="text-700 text-xl">Transfert du 08/03/2025 à 18:30</span>
    <!-- <div class="text-900 font-bold text-4xl my-2">Transfert 🚀</div> -->
    <!-- <p class="text-700 text-xl mt-0 mb-4 p-0">Your order is on the way. It'll be shipped today. We'll inform you.</p> -->
    <div style="height:3px;background:linear-gradient(90deg, var(--primary-color) 0%, rgba(33, 150, 243, 0) 50%);"></div>

    <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
        <div class="mb-3 sm:mb-0">
            <span class="font-medium text-xl text-900 mr-2">Code :</span>
            <span class="font-medium text-xl text-blue-500">FTF1234</span>
        </div>
         <div>
            <button pButton pRipple label="Modifier" icon="pi pi-pencil" class="p-button-outlined p-button-primary mr-2"></button>
            <button pButton pRipple label="Print" icon="pi pi-print" class="p-button-outlined p-button-primary"></button>
        </div>
    </div>
    <div class="border-round surface-border border-1">
        <ul class="list-none p-0 m-0">
            <li  class="p-3 surface-border flex align-items-start sm:align-items-center"  style="border-bottom: 1px solid #e0e0e0;">
                <div class="flex flex-column">
                   <span class="text-900 font-semibold text-xl mb-2">Bénéficiaire</span>
                   <span class="text-800 mb-2">Alpha Ousmane | BARRY</span>
                   <span class="text-800">Tel : 621 12 58 96</span>
                </div>
               <span class="text-900 font-medium text-lg ml-auto">Guinée</span>
           </li>
           <li  class="p-3 surface-border flex align-items-start sm:align-items-center"  style="border-bottom: 1px solid #e0e0e0;">
            <div class="flex flex-column">
               <span class="text-900 font-semibold text-xl mb-2">Expéditeur</span>
               <span class="text-800 mb-2">Issa | BARRY</span>
               <span class="text-800 mb-2">Tel : 621 12 58 96</span>
               <span class="text-800">Email : issabarry67&#64;gmail.com</span>
           </div>
           <span class="text-900 font-medium text-lg ml-auto">France</span>
       </li>
       <li  class="p-3 surface-border flex align-items-start sm:align-items-center"  style="border-bottom: 1px solid #e0e0e0;">
        <div class="flex flex-column">
           <span class="text-900 font-semibold text-xl mb-2">Agent expéditeur</span>
           <span class="text-800 mb-2">Ibrahima | BARRY</span>
           <span class="text-800 mb-2">Tel : 621 12 58 96</span>
           <span class="text-800  mb-2">Email : kourouma874&#64;gmail.com</span>
       </div>
       <span class="text-900 font-medium text-lg ml-auto">France</span>
 
   </li>
        </ul>
    </div>
    <div class="flex flex-wrap mt-5 pb-3">
        <div class="w-full lg:w-6 pl-3">
            <!-- <span class="font-bold text-900">Agence source</span>
            <div class="flex flex-column text-900 mt-2 mb-5">
                <span class="mb-1">Ibrahima Ostwald</span>
                <span class="mb-1">+33 06 85 74 96</span>
                <span class="mb-1">ibostwald&#64;gmail.com</span> 
                <span class="mb-1">Adresse : 55 rue d'Ostwald</span>
                <span class="mb-1">54400, Strasbourg</span>
            </div> -->

            <span class="font-bold text-900">Agence de retrait</span>
            <div class="flex align-items-center mt-0">
                 <div class="flex flex-column text-900 mt-2 mb-2">
                    <span class="mb-1">Bailo Nabaya</span>
                    <span class="mb-1">+33 06 85 74 96</span>
                    <span>ibostwald&#64;gmail.com</span> 
                    <span>Adresse : Kankan Nabaya</span> 
                </div>
            </div>
        </div>
        <div class="w-full lg:w-6 pl-3 lg:pl-0 lg:pr-3 flex align-items-end mt-5 lg:mt-0">
            <ul class="list-none p-0 m-0 w-full">
                <li class="mb-3"><span class="font-medium text-900">Montant</span></li>
                <li class="flex justify-content-between mb-3">
                    <span class="text-900">A retiré</span>
                    <span class="text-900 font-medium text-lg">950 000 GNF</span>
                </li>
                <li class="flex justify-content-between mb-3">
                    <span class="text-900">Envoyé</span>
                    <span class="text-900 font-medium text-lg">100 €</span>
                </li>
                <li class="flex justify-content-between mb-3">
                    <span class="text-900">Frais</span>
                    <span class="text-900 font-medium text-lg">5 €</span>
                </li>
                <li class="flex justify-content-between mb-3">
                    <span class="text-900">Taux d'échange</span>
                    <span class="text-900 font-medium text-lg">1 € = 9500 GNF</span>
                </li>
                <li class="flex justify-content-between border-top-1 surface-border py-3">
                    <span class="text-900 font-medium">Total payé pa expéditeur : </span>
                    <span class="text-900 font-bold text-lg">105 €</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="card">
    <div class="flex flex-column sm:flex-row sm:justify-content-between sm:align-items-center">
        <span class="text-2xl font-medium text-900">Thanks for your order!</span>
        <div class="flex mt-3 sm:mt-0">
            <div class="flex flex-column align-items-center">
                <span class="text-900 font-medium mb-2">Order ID</span>
                <span class="text-700">451234</span>
            </div>
            <div class="flex flex-column align-items-center ml-6 md:ml-8">
                <span class="text-900 font-medium mb-2">Order Date</span>
                <span class="text-700">7 Feb 2023</span>
            </div>
        </div>
    </div>
    <div class="flex flex-column md:flex-row md:align-items-center border-bottom-1 surface-border py-5">
         <div class="flex-auto mt-3 md:mt-0">
            <span class="text-xl text-900">Product Name</span>
            <div class="font-medium text-2xl text-900 mt-3 mb-5">Order Processing</div>
            <div class="border-round overflow-hidden surface-300 mb-3" style="height:7px">
                <div class="bg-primary border-round w-4 h-full"></div>
            </div>
            <div class="flex w-full justify-content-between">
                <span class="text-900 text-xs sm:text-base">Envoyé</span>
                <span class="text-500 text-xs sm:text-base">Rétiré</span>
                <span class="text-500 text-xs sm:text-base">Annulé</span>
            </div>
        </div>
    </div>
    <div class="py-5 flex justify-content-between flex-wrap">
        <div class="flex sm:mr-5 mb-5">
            <span class="font-medium text-900 text-xl mr-8">Product Name</span>
            <span class="text-900 text-xl">$21.00</span>
        </div>
        <div class="flex flex-column sm:mr-5 mb-5">
            <span class="font-medium text-900 text-xl">Shipping Address</span>
            <div class="flex flex-column text-900 mt-3">
                <span class="mb-1">Celeste Slater</span>
                <span class="mb-1">606-3727 Ullamcorper. Roseville NH 11523</span>
                <span>(786) 713-8616</span>
            </div>
        </div>
        <div class="flex flex-column">
            <span class="font-medium text-900 text-xl">Payment</span>
            <div class="flex align-items-center mt-3">
                <img src="assets/demo/images/ecommerce/ordersummary/visa.png" class="w-4rem mr-3" />
                <div class="flex flex-column">
                    <span class="text-900 mb-1">Visa Debit Card</span>
                    <span class="text-900 font-medium">**** **** **** 1234</span>
                </div>
            </div>
        </div>
    </div>
</div> -->