<div class="card">
    <p-toast></p-toast>
    <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
        <span class="text-900 text-xl font-bold mb-4 block">Informations du contact</span>
        <div>
            <button (click)="toggleEditMode()"  [disabled]="isEditing" pButton pRipple label="Modifier" icon="pi pi-pencil" class="p-button-outlined p-button-primary mr-3"  ></button>
            <button *ngIf="!contact.agence_id"  [disabled]="isEditing" pButton pRipple label="Afecter à une agence" icon="pi pi-tags" class="p-button-outlined p-button-primary" (click)="openAffecterAgenceDialog()"></button>
            <!-- <button pButton pRipple label="Annuler le transfert" icon="pi pi-times-circle" class="p-button-outlined p-button-danger" ></button> --> 
        <!-- Bouton Désaffecter (visible uniquement si une agence est affectée) -->
                 <button *ngIf="contact.agence_id"  [disabled]="isEditing" pButton pRipple label="Désaffecter de cette agence" icon="pi pi-times" 
                        class="p-button-outlined p-button-danger"
                        [disabled]="loadingAgence"
                        (click)="desaffecterAgence()">
                </button>
         </div>
        
    </div>
    <!-- <div class="flex justify-center items-center " *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
    </div> --> 

    <p-progressBar mode="indeterminate" *ngIf="loading" class="w-full h-2"></p-progressBar>

    <div class="grid" *ngIf="!loading">
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-6">
                    <label for="role" class="font-medium text-900" >Role : {{ contact.role }}</label> 
                    <p-dropdown 
                    [(ngModel)]="contact.role"  
                    [options]="roles"  
                    optionLabel="name"
                    optionValue="name" 
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.role || errors['role']}">
                </p-dropdown>
                <small *ngIf="errors['role']">{{ errors['role'] }}</small>
                </div>


                <div class="field mb-4 col-12 md:col-6">
                    <label for="country" class="font-medium text-900" >Civilitté</label> 
                    <p-dropdown id="civilite" [options]="civiliteOptions" optionLabel="label" optionValue="value"
                        [(ngModel)]="contact.civilite" placeholder="Sélectionnez une civilité" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.civilite || errors['civilite']}">
                    </p-dropdown>
                    <small *ngIf="errors['civilite']">{{ errors['civilite'] }}</small>
                </div>
                <div class="field mb-4 col-12 md:col-12">
                    <label for="nom_complet" class="font-medium text-900">Nom</label>
                    <input id="nom_complet" type="text" pInputText [(ngModel)]="contact.nom_complet" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.nom_complet || errors['nom_complet']}">
                     <small *ngIf="errors['nom_complet']">{{ errors['nom_complet'] }}</small>
                </div> 
                <div class="field mb-4 col-12 md:col-6">
                    <label for="email" class="font-medium text-900">Email</label>
                    <input id="email" type="text" [(ngModel)]="contact.email" 
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.email || errors['email']}" pInputText>
                    <small *ngIf="errors['email']">{{ errors['email'] }}</small>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="phone" class="font-medium text-900">Phone</label>
                    <input id="phone" type="text" [(ngModel)]="contact.phone" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.phone || errors['phone']}" pInputText>
                    <small *ngIf="errors['phone']">{{ errors['phone'] }}</small>
                </div> 
                <div class="field mb-4 col-12 md:col-12">
                    <label for="country" class="font-medium text-900" >Pays</label>
                    <p-dropdown [(ngModel)]="contact.adresse.pays" 
                               inputId="country"
                                [options]="countries"
                                optionLabel="name" 
                                optionValue="name"
                                [filter]="true" 
                                filterBy="name" 
                                [showClear]="true" 
                                placeholder="Sélectionnez un pays"
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.pays || errors['adresse.pays']}"
                                (onChange)="onCountryChange($event)">
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <small *ngIf="errors['adresse.pays']">{{ errors['adresse.pays'] }}</small>
                </div>
             
                <!-- Champ adresse (visible seulement si le pays n'est pas Guinée) -->
                <div *ngIf="!isGuineeSelected" class="field mb-4 col-12 md:col-12">
                    <label for="adresse" class="font-medium text-900">Adresse</label>
                    <input id="adresse" type="text" [(ngModel)]="contact.adresse.adresse" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.adresse || errors['adresse.adresse']}" pInputText >
                    <small *ngIf="errors['adresse.adresse']">{{ errors['adresse.adresse'] }}</small>
                </div>

                <!-- Champ code postal (visible seulement si le pays n'est pas Guinée) -->
                <div *ngIf="!isGuineeSelected" class="field mb-4 col-12 md:col-6">
                    <label for="city" class="font-medium text-900">Code Postal</label>
                    <input id="city" type="text" pInputText [(ngModel)]="contact.adresse.code_postal" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.code_postal || errors['adresse.code_postal']}" >
                    <small *ngIf="errors['adresse.code_postal']">{{ errors['adresse.code_postal'] }}</small>
                </div>

                <!-- Champ quartier (visible seulement si le pays est Guinée) -->
                <div *ngIf="isGuineeSelected" class="field mb-4 col-12 md:col-6">
                    <label for="quartier" class="font-medium text-900">Quartier</label>
                    <input id="quartier" type="text" pInputText [(ngModel)]="contact.adresse.quartier" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.quartier || errors['adresse.quartier']}" >
                    <small *ngIf="errors['adresse.quartier']">{{ errors['adresse.quartier'] }}</small>
                </div>

                <div class="field mb-4 col-12 md:col-6">
                    <label for="state" class="font-medium text-900" >Ville</label>
                    <input id="state" type="text" [(ngModel)]="contact.adresse.ville" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.ville || errors['adresse.ville']}"  pInputText>
                    <small *ngIf="errors['adresse.ville']">{{ errors['adresse.ville'] }}</small>
                </div> 

                <div class="field mb-4 col-12 md:col-12">
                    <label for="agence" class="font-medium text-900">Agence du contact :</label>
                
                    <!-- Vérifie si une agence est affectée -->
                    <span *ngIf="contact.agence_id && agence?.nom_agence; else noAgence" class="font-medium text-xl text-blue-500">
                        {{ agence.nom_agence }}
                    </span>
                
                    <!-- Sinon, affiche le message d'absence d'agence -->
                    <ng-template #noAgence>
                        <span class="text-red-500 text-md"> Le contact n'est affecté à aucune agence.</span>
                    </ng-template>
                </div>
                
              
                
                <div class="col-12" *ngIf="isEditing">
                    <button pButton pRipple label="Enregistrer modification" class="w-auto mt-3" (click)="saveContact()"></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid"> 

</p-dialog> -->
<p-dialog [(visible)]="agenceDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="grid formgrid"> 
            <div class="col-12 field mb-6">
                <label for="name">Saisir la reference de l'agence : </label>
                <p-inputGroup class="mb-2">
                    <input type="text" [(ngModel)]="reference" pInputText placeholder="Exemple: ST8574" class="w-full"[ngClass]="{'ng-invalid ng-dirty': !reference || errorMessage}"/>
                    <button type="button" icon="pi pi-fw pi-check" pButton pRipple label="" [disabled]="!reference" [loading]="loadingAgence" (click)="onRecupererAgence()"></button>
                </p-inputGroup>
                <small *ngIf="errorMessage" class="alert alert-danger p-3 mt-3"> {{ errorMessage }}</small>
        </div> 
   </div> 

   <hr *ngIf="codeRecuperer"/>

<!-- Affichage des détails de l'agence SEULEMENT si la référence est saisie et récupérée -->
<div *ngIf="codeRecuperer">
    <div class="field">
        <label for="name"> <strong>Nom</strong> : {{ agence.nom_agence }} </label>
    </div>
    <div class="field">
        <label for="name"><strong>Phone</strong> : {{ agence.phone }} </label>
    </div>
    <div class="field">
        <label for="name"><strong>Email</strong> : {{ agence.email }} </label>
    </div>
    <div class="field">
        <label for="name"><strong>Pays</strong> : {{ agence.adresse.pays }} </label>
    </div>
    <div class="field">
        <label for="name"><strong>Adresse</strong> : {{ agence.adresse.adresse }} </label>
    </div>
    <div class="field">
        <label for="name"><strong>Ville</strong> : {{ agence.adresse.ville }} </label>
    </div>
    <div class="field">
        <label for="name"><strong>Code postal</strong> : {{ agence.adresse.code_postal }} </label>
    </div> 
</div>

        

        <!-- <div class="field">
            <label for="status">Inventory Status</label>
            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Select">
                <ng-template pTemplate="selectedItem">
                     <span *ngIf="product && product.inventoryStatus" [class]="'product-badge status-' + product.inventoryStatus.toString().toLowerCase()">{{product.inventoryStatus}}</span> 
                </ng-template>
                <ng-template let-option pTemplate="item">
                     <span [class]="'product-badge status-' + option.value">{{option.label}}</span> 
                </ng-template>
            </p-dropdown>
        </div> -->

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Affecter" icon="pi pi-check" class="p-button-text" (click)="confirmationAffecterAgence()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog></p-confirmDialog>