<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>

            <!-- Section de chargement -->
            <div *ngIf="loading" class="flex justify-content-center align-items-center">
                <p-progressSpinner></p-progressSpinner>
                <span class="ml-3">Chargement des Rôles...</span>
            </div>

            <!-- Tableau principal -->
            <p-table *ngIf="!loading" #dt [value]="roles" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Liste de {first} / {last} des {totalRecords} rôles" [(selection)]="selectedRoles" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Roles</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <span></span>
                        </th>
                        <th pSortableColumn="reference">Role</th>
                        <th pSortableColumn="nom">Description</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr style="cursor: pointer;">
                        <td>
                            <p-tableCheckbox [value]="role"></p-tableCheckbox>
                        </td>
                        <td style="width:30%; min-width:15rem;" (click)="onGoToDetail(role.id)">
                            <span class="p-column-title">Name</span>
                            {{ role.name }}
                        </td>
                        <td style="width:50%; min-width:15rem;" (click)="onGoToDetail(role.id)">
                            <span class="p-column-title">Description</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRole(role)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteRole(role)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
